// **************************************
// Placeholders
// **************************************
@use "./variables" as v;
@use "./mixins" as *;

%nav-link {
  text-decoration: none;
  color: v.$color-main;
}

%ctr-text {
  text-align: center;
}

%btn-properties {
  outline: none;
  border-radius: v.$moderate-curve;
  color: v.$white;
  letter-spacing: 1px;
  background: v.$color-main;
  font-size: 0.75rem;
  font-weight: v.$font-weight-bold;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
}
