// **************************************
// GLOBAL VARIABLES
// **************************************

/*-----Project Color Variables-----*/
$pale-blue: hsl(225, 100%, 94%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$bright-blue: hsl(245, 75%, 52%);
$dark-blue: hsl(223, 47%, 23%);
$white: #fff;

/*-----Functional Color Variables-----*/
$color-main: $bright-blue;
$color-main-light: $pale-blue;
$color-main-lightest: $very-pale-blue;
$color-main-dark: $dark-blue;

//background colors
$color-bg: $color-main-light;
$color-card-bg: $white;

//Link colors
$color-link-default: $color-main;

//Headings & Paragraph Colors
$color-text-light: $pale-blue;
$color-text-base: $desaturated-blue;
$color-text-dark: $color-main-dark;

//Button Colors
$color-link-button-default: $color-main;

//layout
$max-width: 1200px;
$gutter: 15px;
$header-height: 600px;
$footer-height: 100px;

//Font Stacks
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
$font-stack-main: "Red Hat Display", sans-serif;
$base-font-size: 16px;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

//border radius
$soft-curve: 5px;
$moderate-curve: 15px;
$hard-curve: 25px;
$full-circle: 50%;

//Breakpoint Sizes
$mobile-view: 320px;
$tablet-view: 768px;
$desktop-view: 1024px;

// Media Query Breakpoint Map
$breakpoints: (
  "sm": $mobile-view,
  "md": $tablet-view,
  "lg": $desktop-view,
);
