// **************************************
// BASE STYLES
// **************************************

@use "../utilities/variables" as u;
@use "../utilities/mixins" as *;
@use "../utilities/placeholders" as *;

* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font: u.$font-weight-normal 1rem/1.4 u.$font-stack-main;
  background: u.$color-bg url(../../images/pattern-background-mobile.svg)
    no-repeat 0px -450px;
  background-size: cover;
  @include mq("md") {
    background-image: url(../../images/pattern-background-desktop.svg);
    background-size: contain;
    background-position: 0px 0px;
  }
}

svg,
img {
  display: block;
  width: 100%;
  height: auto;
}

p,
footer {
  color: u.$color-text-dark;
}

a {
  display: inline-block;
  padding: 0.6em;
}

footer {
  @extend %ctr-text;
}

/*-----HEADINGS------*/
h1 {
  font-family: u.$font-stack-main;
  margin: 1rem 0;
}
