// **************************************
// TYPOGRAPHY STYLES
// **************************************
@use "../utilities" as *;

//h1 styles
.title__primary {
  @include text-prop($size: 1.5rem);
  @extend %ctr-text;
}

//content styles
.content {
  @extend %ctr-text;
  @include text-prop($size: 0.9rem, $l-height: 1.6);
}

.title__primary,
.card__cancel--link:hover {
  font-weight: $font-weight-bolder;
  color: $color-text-dark;
}

.title__plan {
  font-size: 0.95rem;
}

.title__plan,
.content__plan {
  margin-left: -25px;
}

.content__plan,
.content__link,
.card__cancel--link {
  font-size: 0.85rem;
}

.content,
.content__plan,
.card__cancel--link {
  color: $color-text-base;
}

.title__plan,
.card__cancel--link {
  font-weight: $font-weight-bold;
}

.content__link {
  color: $color-main;
  &:hover {
    text-decoration: none;
  }
}

.card__cancel--link {
  margin: 1.2rem 0 2rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
