// **************************************
// BUTTON STYLES
// **************************************
@use "../utilities" as *;
//button styles for project card overlay
.btn__overlay--full {
  @extend %btn-properties;
  box-shadow: 0px 15px 37px -2px hsla(245, 75%, 52%, 0.35);
  transition: all 0.4s ease-in-out;
  border: 0;
  &:hover {
    background-color: rgba($color-main, 0.6);
  }
}
